<div class="panel panel-default">
    <div class="panel-heading">
        API method - Get Sites
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Description</a>
            </li>
            <li><a href="#profile" data-toggle="tab">Example PHP Code</a>
            </li>
            <li><a href="#messages" data-toggle="tab">Use method</a>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="home">
                <h4>Get Sites</h4>
                Get the list of all Sites referring to a given user account.
                Requires ALL or SHARED level on VIEW permission for INVENTORY items. When SHARED level being used, share of any type must be present between requester and entity being requested.</br></br>

                <p><strong>URL:</strong>/rest–api/sites.do.</p>

                <p><strong>Method: </strong>GET.</p>

                <strong>Response format:</strong> application/json.

                <strong>Error codes:</strong>
                <ul>
                  <li>401 Unauthorized-authentication error.</li>
                </ul>
                <strong>Response sample:</strong>
                200 OK.

                <strong>Parameters:</strong>
                <ul>
                  <li>hash - an MD5 digest of a concatenated username's md5 password and a given timestamp;</li>
                  <li>timestamp - UNIX timestamp used for hash generation;</li>
                  <li>username - a given username.</li>
                  <li>publishingCategories – IDs of Inventory categories to filter results (optional, comma–separated).</li>
                </ul>
            </div>
            <div class="tab-pane fade" id="profile">
                <pre class="language-php">
                <code class="language-php">
                    define("DEBUG",false);

                    /*Initiating username and password variables, generating current timestamp and hash*/
                    $username = "";
                    $password = "";
                    $timestamp  = round(microtime(true) * 1000);
                    $hash = md5(md5($password).$timestamp);
                    
                    $url = "https://nXX.epom.com/rest-api/sites.do";
                    //nXX is the network's id, e.g. n29.epom.com
                    //if you have whitelabel account, please use its domain instead of nXX.epom.com

                    $post_data = array(
                        "hash" => $hash,
                        "timestamp" => $timestamp,
                        "username" => $username
                    );

                    /*specifying curl options*/
                    $options = array(
                        CURLOPT_URL => $url."?".http_build_query($post_data),
                        CURLOPT_SSL_VERIFYPEER => false,
                        CURLOPT_RETURNTRANSFER => true
                    );

                    /*connection initiation*/
                    $curl = curl_init();
                    /*Applying curl options to our curl instance*/
                    curl_setopt_array($curl,$options);
                    /*Executing the call*/
                    $result = curl_exec($curl);
                    echo $result;

                    if(DEBUG){
                        echo "\n\n";
                        echo $url;
                        print_r($post_data);
                    }
                </code>
                </pre>
            </div>
            <div class="tab-pane fade" id="messages">
                <div class="col-xs-6 col-sm-3">
                    <div class="position" id="position-block">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-files-o fa-fw"></i></span>
                            <input type="text" class="form-control" placeholder="Username" id="username">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-wrench fa-fw"></i></span>
                            <input type="password" class="form-control" placeholder="Password" id="password">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-table fa-fw"></i></span>
                            <input type="text" class="form-control" placeholder="n101.epom.com" id="network">
                        </div>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-dashboard fa-fw"></i></span>
                            <input type="text" class="form-control" placeholder="publishingCategories" id="category">
                        </div>
                        <button type="submit" class="btn btn-default" id="request">Send Request</button>
                    </div>
                </div>  
                <div class="col-lg-12">
                    <div class="panel panel-default" id="hideblock">
                        <div class="panel-heading">
                            Response
                        </div>
                        <div class="panel-body" id="response">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function()
{
    $('#request').click(function()
    {
        $("#hideblock").slideToggle();
        var username = $('#username').val();
        var password = $('#password').val();
        var network = $('#network').val();
        var category = $('#category').val();
        
        var dataString = 'name='+ username + '&password='+ password + '&nUrl='+ network + '&pubCategory='+ category;
        
        $.ajax({ 
            type: 'POST',   
            url: "../script/get_sites.php",   
            data: dataString,
            success : function(text){
                $('#response').html(text);
            }
        });
    });
});
/* $(document).ready(function() {
    $("#request").click(function() {                
        $.ajax({    //create an ajax request to load_page.php
            type: "GET",
            url: "../script/delete.php",             
            dataType: "html",                   
            success: function(response){                    
                $(".response").html(response); 
            }
        });
    });
});*/
</script>